<!DOCTYPE html>
<html>
<head>
  <title>marty-chat-example</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="/javascripts/marty-chat-example.js"></script>
</body>
</html>