<!DOCTYPE html>
<html>
<head>
  <title>marty-chat-example</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Marty Chat Room</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div id="app">
      <%- body %>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/marty-chat-example.js"></script>
  <script type="text/javascript" src="/node_modules/marty-clipboard/dist/marty-clipboard.js"></script>
</body>
</html>